@import url("https://fonts.googleapis.com/css?family=Kalam");
body { font-family: Kalam }
.btns {
    display: inline-block;
    padding: 10px 30px;
    background-color: #fee2e1; /* Pink color */
    color: #fe9495; /* Text color */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 105, 180, 0.5); /* Pink drop shadow */
    transition: box-shadow 0.3s ease-in-out;
  }
  .btns:hover {
    box-shadow: 0 4px 16px rgba(255, 105, 180, 0.8); /* Darker pink drop shadow on hover */
    background-color: #fe9495;
    color: #fee2e1;
  }