@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");
body::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
html {
    font-size: 62.5%
}

body {
    background: #181818;
    font-size: 1.5em;
    font-weight: 400;
}

html,body {
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 0
}

p {
    margin-top: 0
}
h1 {
    font-size: 4rem;
    letter-spacing: -.1rem;
    line-height: 1.2
}

.center-object {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%
}

.fullscreen {
    background-color: #181818;
    position: relative
}

.fullscreen .background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(50%);
    height: 100%;
    width: 100%
}

.fullscreen .background.slideshow {
    transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    position: absolute
}

.fullscreen .me {
    justify-content: center;
    width: 100%
}

.fullscreen.half .background {
    height: 50%
}


.fullscreen.half .center-object .btn {
    padding: 0 20px
}

.fullscreen.half .center-object .me .image-title {
    height: 6em;
    width: 6em
}

.fullscreen.half .center-object .me .title {
    font-size: 4rem
}

.fullscreen.half .center-object .me .undertitle {
    font-size: 1.75rem
}

.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    z-index: 10
}

.me.unset {
    flex-direction: unset
}

.me.unset .image-title {
    margin-right: .25em
}

.me.unset .unset {
    margin-left: .5em
}

.me.unset .unset .title,.me.unset .unset .undertitle {
    flex-direction: column;
    margin: 0
}

.me .image-title {
    border-radius: 100%;
    height: 9em;
    width: 9em
}

.me .image-title.large-border {
    border-radius: 25px
}

.me .image-title.medium-border {
    border-radius: 15px
}

.me .image-title.small-border {
    border-radius: 5px
}

.me .image-title.no-border {
    border-radius: 0
}

.me .title {
    filter: drop-shadow(6px 6px 0 rgba(0,0,0,0.4));
    font-size: 5rem;
    letter-spacing: 1px;
    margin: .25em
}

.me .undertitle {
    filter: drop-shadow(3px 3px 0 rgba(0,0,0,0.4));
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 0
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 2.5em;
    margin-top: 1.5em;
    max-width: 1100px;
    padding: 0 2em;
    position: relative;
    width: 100%
}

.column,.columns {
    box-sizing: border-box;
    float: left;
    width: 100%
}

.row .column {
    margin-left: 4%
}

.row .column:first-child {
    margin-left: 0
}

.row .one-full.column {
    width: 95%
}

.row .one-half.column {
    width: 48%
}

.row .one-third.column {
    width: 30.6666666667%
}

.row .one-fourth.column {
    width: 21.9999999999%
}

.row::after {
    clear: both;
    content: '';
    display: table
}

.flex-grid {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap
}

.flex-grid .col-xs,.flex-grid .col-xs-1,.flex-grid .col-xs-2,.flex-grid .col-xs-3,.flex-grid .col-xs-4,.flex-grid .col-xs-5,.flex-grid .col-xs-6,.flex-grid .col-xs-7,.flex-grid .col-xs-8,.flex-grid .col-xs-9,.flex-grid .col-xs-10,.flex-grid .col-xs-11,.flex-grid .col-xs-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: .5rem;
    padding-right: .5rem
}

.flex-grid [class^="col-xs"]:first-child {
    padding-left: 0
}

.flex-grid [class^="col-xs"]:last-child {
    padding-right: 0
}

.flex-grid .col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center
}
.box-container {
    border-radius: 10px;
    margin-bottom: 2.5em;
    padding: 1em;
    position: relative
}


.form-container form {
    margin-bottom: 0
}


@media(max-width: 550px) {
   .container {
        margin: 0;
        margin-bottom: 2.5em;
        margin-top: 1.5em;
        padding: 0;
        width: 100%
    }
}

